body {
	padding: 0;
	margin: 0 auto;
	width: 1024px;
	background-color: gray;
}
.myself {
	width: 200px;
	margin-top: 68px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: white;
	margin-top: 20px;
	height: 390px;
	padding: 0px;
}
h1 {
	font-size: 70px;
}
.intro {
	content: "";
	display: table;
	clear: both;
}
.age,
.phone,
.mail,
.location {
	display: inline-block;
	font-size: 18px;
	margin-right: 40px;
	padding-top: 18px;
	float: right;
}
.vk {
	width: 30px;
	margin-left: 10px;
	padding-right: 12px;
	float: right;
}
.git {
	width: 30px;
	float: right;
}
.gm {
	width: 55px;
	float: right;
}
.contacts {
	float: right;
	padding-top: 25px;
	display: inline-block;
}
.container-main {
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.job {
	font-size: 28px;
}
.front,
.contacts {
	display: inline-block;
	width: 330px;
}
.container-myself {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	background-color: white;
	margin-top: 20px;
	height: 3150px;
	padding: 0px;
}
.information-about-me {
	font-size: 20px;
}
.my-intro {
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
}
.barbershop {
	width: 800px;
	padding-top: 20px;
}
 .what {
 	text-align: center;
 	font-size: 16px;
 }
 .pages {
 	display: inline-block;
 }
 .me {
 	width: 400px;
 }
 .bsac {
 	padding-left: 170px;
 }
 .photos {
 	padding-left: 85px;
 	padding-top: 20px;
 }
 footer {
 	background-color: white;
 	height: 40px;
 	width: 100%;
 	margin-top: 20px;
 }
 .my-name {
 	text-align: center;
 	font-size: 16px;
 	padding-top: 10px;
 }
